### Import Libraries

In [1]:
from IPython.display import display, HTML

import pandas as pd
import re

### Import Excel File

In [2]:
# Read Excel file into pandas dataframe
df = pd.read_excel('BatBowlStats.xlsx')

# Print out the first 5 row
df.head()

,Format,Data Type,Bat_Format,Bat_Mat,Bat_Inns,Bat_NO,Bat_Runs,Bat_HS,Bat_Ave,Bat_BF,...,Bowl_Runs,Bowl_Wkts,Bowl_BBI,Bowl_BBM,Bowl_Ave,Bowl_Econ,Bowl_SR,Bowl_4w,Bowl_5w,Bowl_10w
0,Aakash Chopra Career Stats,Bat,Tests,10.0,19,0,437,60,23.00,1263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aakash Chopra Career Stats,Bat,FC,162.0,266,27,10839,301*,45.35,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aakash Chopra Career Stats,Bat,List A,65.0,61,7,2415,130*,44.72,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aakash Chopra Career Stats,Bat,T20s,21.0,19,1,334,72*,18.55,366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aakash Chopra Career Stats,Bowl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-

### Type Format List per Type

In [3]:
# Get the unique values of type format for each type
bat_formats = df['Bat_Format'].unique()
bowl_formats = df['Bowl_Format'].unique()

# Remove nan values on list
bat_formats = [item for item in bat_formats if not (pd.isnull(item)) == True]
bowl_formats = [item for item in bowl_formats if not (pd.isnull(item)) == True]

print(bat_formats)
print(bowl_formats)

['Tests', 'FC', 'List A', 'T20s', 'T20Is', 'ODIs', 'WODIs', 'WT20Is', 'WTests']
['Tests', 'FC', 'List A', 'T20s', 'T20Is', 'ODIs', 'WODIs', 'WT20Is', 'WTests']

### Column Names List per Type

In [4]:
# Get all dataframe columns and put it into a list
column_names = [item for item in df.columns]

# Removes certain columns from the list
column_names.remove("Format")
column_names.remove("Data Type")
column_names.remove("Bat_Format")
column_names.remove("Bowl_Format")

# Creates an empty list to be inserted later
bat_columns = []
bowl_columns = []

# A loop to separate column names per type into the previously created list
for col in column_names:
    if re.search("^Bat",col):
        bat_columns.append(col)
    elif re.search("^Bowl",col):
        bowl_columns.append(col)

print(bat_columns)
print(bowl_columns)

['Bat_Mat', 'Bat_Inns', 'Bat_NO', 'Bat_Runs', 'Bat_HS', 'Bat_Ave', 'Bat_BF', 'Bat_SR', 'Bat_100s', 'Bat_50s', 'Bat_4s', 'Bat_6s', 'Bat_Ct', 'Bat_St']
['Bowl_Mat', 'Bowl_Inns', 'Bowl_Balls', 'Bowl_Runs', 'Bowl_Wkts', 'Bowl_BBI', 'Bowl_BBM', 'Bowl_Ave', 'Bowl_Econ', 'Bowl_SR', 'Bowl_4w', 'Bowl_5w', 'Bowl_10w']

### Column Names Structuring

In [5]:
# Creates a dictionary with a key called Format with an empty list as the value
dict = {'Format':[]}

# A loop to insert column per type and format
for item in bat_formats:
    for col in bat_columns:
        temp = {col + '_' + item: []}
        dict.update(temp)
for i in bowl_formats:
    for x in bowl_columns:
        temp = {x+'_'+i: []}
        dict.update(temp)

# Convert dictionary to pandas dataframe
final_df = pd.DataFrame(dict)

print(dict)

{'Format': [], 'Bat_Mat_Tests': [], 'Bat_Inns_Tests': [], 'Bat_NO_Tests': [], 'Bat_Runs_Tests': [], 'Bat_HS_Tests': [], 'Bat_Ave_Tests': [], 'Bat_BF_Tests': [], 'Bat_SR_Tests': [], 'Bat_100s_Tests': [], 'Bat_50s_Tests': [], 'Bat_4s_Tests': [], 'Bat_6s_Tests': [], 'Bat_Ct_Tests': [], 'Bat_St_Tests': [], 'Bat_Mat_FC': [], 'Bat_Inns_FC': [], 'Bat_NO_FC': [], 'Bat_Runs_FC': [], 'Bat_HS_FC': [], 'Bat_Ave_FC': [], 'Bat_BF_FC': [], 'Bat_SR_FC': [], 'Bat_100s_FC': [], 'Bat_50s_FC': [], 'Bat_4s_FC': [], 'Bat_6s_FC': [], 'Bat_Ct_FC': [], 'Bat_St_FC': [], 'Bat_Mat_List A': [], 'Bat_Inns_List A': [], 'Bat_NO_List A': [], 'Bat_Runs_List A': [], 'Bat_HS_List A': [], 'Bat_Ave_List A': [], 'Bat_BF_List A': [], 'Bat_SR_List A': [], 'Bat_100s_List A': [], 'Bat_50s_List A': [], 'Bat_4s_List A': [], 'Bat_6s_List A': [], 'Bat_Ct_List A': [], 'Bat_St_List A': [], 'Bat_Mat_T20s': [], 'Bat_Inns_T20s': [], 'Bat_NO_T20s': [], 'Bat_Runs_T20s': [], 'Bat_HS_T20s': [], 'Bat_Ave_T20s': [], 'Bat_BF_T20s': [], 'Bat_SR_T20s': [], 'Bat_100s_T20s': [], 'Bat_50s_T20s': [], 'Bat_4s_T20s': [], 'Bat_6s_T20s': [], 'Bat_Ct_T20s': [], 'Bat_St_T20s': [], 'Bat_Mat_T20Is': [], 'Bat_Inns_T20Is': [], 'Bat_NO_T20Is': [], 'Bat_Runs_T20Is': [], 'Bat_HS_T20Is': [], 'Bat_Ave_T20Is': [], 'Bat_BF_T20Is': [], 'Bat_SR_T20Is': [], 'Bat_100s_T20Is': [], 'Bat_50s_T20Is': [], 'Bat_4s_T20Is': [], 'Bat_6s_T20Is': [], 'Bat_Ct_T20Is': [], 'Bat_St_T20Is': [], 'Bat_Mat_ODIs': [], 'Bat_Inns_ODIs': [], 'Bat_NO_ODIs': [], 'Bat_Runs_ODIs': [], 'Bat_HS_ODIs': [], 'Bat_Ave_ODIs': [], 'Bat_BF_ODIs': [], 'Bat_SR_ODIs': [], 'Bat_100s_ODIs': [], 'Bat_50s_ODIs': [], 'Bat_4s_ODIs': [], 'Bat_6s_ODIs': [], 'Bat_Ct_ODIs': [], 'Bat_St_ODIs': [], 'Bat_Mat_WODIs': [], 'Bat_Inns_WODIs': [], 'Bat_NO_WODIs': [], 'Bat_Runs_WODIs': [], 'Bat_HS_WODIs': [], 'Bat_Ave_WODIs': [], 'Bat_BF_WODIs': [], 'Bat_SR_WODIs': [], 'Bat_100s_WODIs': [], 'Bat_50s_WODIs': [], 'Bat_4s_WODIs': [], 'Bat_6s_WODIs': [], 'Bat_Ct_WODIs': [], 'Bat_St_WODIs': [], 'Bat_Mat_WT20Is': [], 'Bat_Inns_WT20Is': [], 'Bat_NO_WT20Is': [], 'Bat_Runs_WT20Is': [], 'Bat_HS_WT20Is': [], 'Bat_Ave_WT20Is': [], 'Bat_BF_WT20Is': [], 'Bat_SR_WT20Is': [], 'Bat_100s_WT20Is': [], 'Bat_50s_WT20Is': [], 'Bat_4s_WT20Is': [], 'Bat_6s_WT20Is': [], 'Bat_Ct_WT20Is': [], 'Bat_St_WT20Is': [], 'Bat_Mat_WTests': [], 'Bat_Inns_WTests': [], 'Bat_NO_WTests': [], 'Bat_Runs_WTests': [], 'Bat_HS_WTests': [], 'Bat_Ave_WTests': [], 'Bat_BF_WTests': [], 'Bat_SR_WTests': [], 'Bat_100s_WTests': [], 'Bat_50s_WTests': [], 'Bat_4s_WTests': [], 'Bat_6s_WTests': [], 'Bat_Ct_WTests': [], 'Bat_St_WTests': [], 'Bowl_Mat_Tests': [], 'Bowl_Inns_Tests': [], 'Bowl_Balls_Tests': [], 'Bowl_Runs_Tests': [], 'Bowl_Wkts_Tests': [], 'Bowl_BBI_Tests': [], 'Bowl_BBM_Tests': [], 'Bowl_Ave_Tests': [], 'Bowl_Econ_Tests': [], 'Bowl_SR_Tests': [], 'Bowl_4w_Tests': [], 'Bowl_5w_Tests': [], 'Bowl_10w_Tests': [], 'Bowl_Mat_FC': [], 'Bowl_Inns_FC': [], 'Bowl_Balls_FC': [], 'Bowl_Runs_FC': [], 'Bowl_Wkts_FC': [], 'Bowl_BBI_FC': [], 'Bowl_BBM_FC': [], 'Bowl_Ave_FC': [], 'Bowl_Econ_FC': [], 'Bowl_SR_FC': [], 'Bowl_4w_FC': [], 'Bowl_5w_FC': [], 'Bowl_10w_FC': [], 'Bowl_Mat_List A': [], 'Bowl_Inns_List A': [], 'Bowl_Balls_List A': [], 'Bowl_Runs_List A': [], 'Bowl_Wkts_List A': [], 'Bowl_BBI_List A': [], 'Bowl_BBM_List A': [], 'Bowl_Ave_List A': [], 'Bowl_Econ_List A': [], 'Bowl_SR_List A': [], 'Bowl_4w_List A': [], 'Bowl_5w_List A': [], 'Bowl_10w_List A': [], 'Bowl_Mat_T20s': [], 'Bowl_Inns_T20s': [], 'Bowl_Balls_T20s': [], 'Bowl_Runs_T20s': [], 'Bowl_Wkts_T20s': [], 'Bowl_BBI_T20s': [], 'Bowl_BBM_T20s': [], 'Bowl_Ave_T20s': [], 'Bowl_Econ_T20s': [], 'Bowl_SR_T20s': [], 'Bowl_4w_T20s': [], 'Bowl_5w_T20s': [], 'Bowl_10w_T20s': [], 'Bowl_Mat_T20Is': [], 'Bowl_Inns_T20Is': [], 'Bowl_Balls_T20Is': [], 'Bowl_Runs_T20Is': [], 'Bowl_Wkts_T20Is': [], 'Bowl_BBI_T20Is': [], 'Bowl_BBM_T20Is': [], 'Bowl_Ave_T20Is': [], 'Bowl_Econ_T20Is': [], 'Bowl_SR_T20Is': [], 'Bowl_4w_T20Is': [], 'Bowl_5w_T20Is': [], 'Bowl_10w_T20Is': [], 'Bowl_Mat_ODIs': [], 'Bowl_Inns_ODIs': [], 'Bowl_Balls_ODIs': [], 'Bowl_Runs_ODIs': [], 'Bowl_Wkts_ODIs': [], 'Bowl_BBI_ODIs': [], 'Bowl_BBM_ODIs': [], 'Bowl_Ave_ODIs': [], 'Bowl_Econ_ODIs': [], 'Bowl_SR_ODIs': [], 'Bowl_4w_ODIs': [], 'Bowl_5w_ODIs': [], 'Bowl_10w_ODIs': [], 'Bowl_Mat_WODIs': [], 'Bowl_Inns_WODIs': [], 'Bowl_Balls_WODIs': [], 'Bowl_Runs_WODIs': [], 'Bowl_Wkts_WODIs': [], 'Bowl_BBI_WODIs': [], 'Bowl_BBM_WODIs': [], 'Bowl_Ave_WODIs': [], 'Bowl_Econ_WODIs': [], 'Bowl_SR_WODIs': [], 'Bowl_4w_WODIs': [], 'Bowl_5w_WODIs': [], 'Bowl_10w_WODIs': [], 'Bowl_Mat_WT20Is': [], 'Bowl_Inns_WT20Is': [], 'Bowl_Balls_WT20Is': [], 'Bowl_Runs_WT20Is': [], 'Bowl_Wkts_WT20Is': [], 'Bowl_BBI_WT20Is': [], 'Bowl_BBM_WT20Is': [], 'Bowl_Ave_WT20Is': [], 'Bowl_Econ_WT20Is': [], 'Bowl_SR_WT20Is': [], 'Bowl_4w_WT20Is': [], 'Bowl_5w_WT20Is': [], 'Bowl_10w_WT20Is': [], 'Bowl_Mat_WTests': [], 'Bowl_Inns_WTests': [], 'Bowl_Balls_WTests': [], 'Bowl_Runs_WTests': [], 'Bowl_Wkts_WTests': [], 'Bowl_BBI_WTests': [], 'Bowl_BBM_WTests': [], 'Bowl_Ave_WTests': [], 'Bowl_Econ_WTests': [], 'Bowl_SR_WTests': [], 'Bowl_4w_WTests': [], 'Bowl_5w_WTests': [], 'Bowl_10w_WTests': []}

### Functions

In [6]:
def insert_bat(col_name,row,col_index): 
   # Iterate bat_columns
    for bat_column in bat_columns:

        # Checks if col_name is the same as bat_column
        if col_name == bat_column:

            # Iterate bat_formats
            for bat_format in bat_formats: 

                # Checks if the current row type format is the same as the current bat_format
                if df.iloc[row,2] == bat_format:

                    # Insert to temp dictionary
                    return temp.update({col_name+'_'+bat_format: [df.iloc[row,col_index]]})

In [7]:
def insert_bowl(col_name,row,col_index):
    # Iterate bowl_columns
    for bowl_column in bowl_columns:

        # Checks if col_name is the same as bowl_column
        if col_name == bowl_column:

            # Iterate bowl_formats
            for bowl_format in bowl_formats:

                # Checks if the current row type format is the same as the current bowl_format
                if df.iloc[row,17] == bowl_format:

                    # Insert to temp dictionary
                    return temp.update({col_name+'_'+bowl_format: [df.iloc[row,col_index]]})

In [8]:
def column_check(row):
    # Iterate dataframe column name and index
    for col_index, col_name in enumerate(df.columns):

        # Pass or do nothing if the given column is the same as stated
        if col_name == "Format" or col_name == "Data Type" or col_name == "Bat_Format" or col_name == "Bowl_Format":
            pass

        # Checks if the current row type is Bat
        elif df.iloc[row,1] == 'Bat':
            insert_bat(col_name, row, col_index)

        # Checks if the current row type is Bowl
        elif df.iloc[row,1] == 'Bowl':
            insert_bowl(col_name, row, col_index)

### Data Transformation

In [9]:
# A loop to iterate each row
for row in range(len(df)):

    # Checks if it is the first row or the current row Format value isn't the same as the previous row
    if row == 0 or df.iloc[row,0] != df.iloc[row-1,0]:

        # Checks if the current row Format value isn't the same as the previous row
        if df.iloc[row,0] != df.iloc[row-1,0]:
            
            # Convert temp dictionary to pandas dataframe
            temp = pd.DataFrame(temp)

            # Concatenate final_df dataframe with temp dataframe
            final_df = pd.concat([final_df,temp],ignore_index=True)
            final_df.reset_index()
        
        # Creates a dictionary with the initial column and value
        temp = {'Format': [df.iloc[row,0]]}

        column_check(row)


    # Checks if the current row Format is the same as the previous row and current row type is Bat and current row type is Bowl
    elif df.iloc[row,0] == df.iloc[row-1,0] and df.iloc[row,1] == 'Bat' and df.iloc[row-1,1] == 'Bowl':   

        # Convert temp dictionary to pandas dataframe
        temp = pd.DataFrame(temp)

        # Concatenate final_df dataframe with temp dataframe
        final_df = pd.concat([final_df,temp],ignore_index=True)
        final_df.reset_index()

        # Creates a dictionary with the initial column and value
        temp = {'Format': [df.iloc[row,0]]}

        column_check(row)


    # Checks if the current row Format is the same as the previous row
    elif df.iloc[row,0] == df.iloc[row-1,0]:

        column_check(row)


temp = pd.DataFrame(temp)
final_df = pd.concat([final_df,temp],ignore_index=True)
final_df.reset_index()

,index,Format,Bat_Mat_Tests,Bat_Inns_Tests,Bat_NO_Tests,Bat_Runs_Tests,Bat_HS_Tests,Bat_Ave_Tests,Bat_BF_Tests,Bat_SR_Tests,...,Bowl_Runs_WTests,Bowl_Wkts_WTests,Bowl_BBI_WTests,Bowl_BBM_WTests,Bowl_Ave_WTests,Bowl_Econ_WTests,Bowl_SR_WTests,Bowl_4w_WTests,Bowl_5w_WTests,Bowl_10w_WTests
0,0,Aakash Chopra Career Stats,10.0,19,0,437,60,23.00,1263,34.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Aamer Azmat Career Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Aamer Jamal Career Stats,1.0,2,0,10,10,5.00,22,45.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Aamer Sohail Career Stats,47.0,83,3,2823,205,35.28,5103,55.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Aamer Yamin Career Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4919,4919,Zubaidi Zulkifle Career Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4920,4920,Zubayr Hamza Career Stats,6.0,12,0,212,62,17.66,446,47.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4921,4921,Zulfiqar Babar Career Stats,15.0,18,9,144,56,16.00,207,69.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4922,4922,Zulqarnain Haider Career Stats,1.0,2,0,88,88,44.00,201,43.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4923,4923,Zunaed Siddique Career Stats,19.0,37,0,969,106,26.18,2341,41.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(temp)

In [ ]:
display(final_df)

In [10]:
print(final_df.loc[74, 'Bat_Mat_FC'])

20.0

In [11]:
print(final_df.loc[74, 'Bowl_Mat_FC'])

20.0

In [12]:
final_df.to_excel('final.xlsx',index=False)